# Frontend Configuration
VITE_API_URL=http://localhost:5000/api

GMAIL_USER=pv0971712@gmail.com
GMAIL_PASS=ailr ncex yzoh yqnq


MONGODB_URI=mongodb+srv://elishaanand789_db_user:Anand7779@cluster0.hi1bzy7.mongodb.net/elisha?appName=Cluster0&retryWrites=true&w=majority
